/* Fonts */

@font-face {
  font-family: 'tattooShop';
  src: url('fonts/TattooShop/TattooShop.otf') format('opentype');
}

/* Page Layout */

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background: url('../img/background/dark-honeycomb.png');
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  max-width: 950px;
  margin: auto;
  justify-content: center;
  perspective: 750px;
}

/* score panel styles */

.page-title {
  color: #ffffff;
  font-family: tattooShop, serif;
  text-align: center;
  font-weight: normal;
  font-size: 4em;
  margin-top: 20px;
}

.game-score {
  color: #ffffff;
  font-family: serif;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: -25px;
  margin-bottom: -35px;
  letter-spacing: 1.5px;
  font-size: 1em;
}

.game-score-panel {
  text-align: left;
  width: 425px;
  margin-bottom: 10px;
}

.game-score-panel .stars {
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}
/*-to fix javascript modal apearance-*/
li {
  list-style-type: none;
  display: inline;
}
/* --------------------------------- */

.game-score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.moves {
  margin-right: 45px;
}

.game-score-panel .restart {
  float: right;
  cursor: pointer;
  color: #ffffff;
}

.checked1,
.checked2,
.checked3 {
  color: gold;
}

/* Game start and restart overlay */

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ffffff;
  font-family: tattooShop, serif;
  font-weight: normal;
}

.overlay-text-time,
.overlay-text-star {
  font-size: 0.3em;
  color: #ffffff;
}

.seconds {
  font-size: inherit;
  font-family: tattooShop, serif;
  color: inherit;
}

.overlay-text-small {
  font-size: 0.25em;
  margin-top: 50px;
  cursor: pointer;
  color: #bf0000;
}

.start {
  cursor: pointer;
}

.victory {
  color: #033f03;
}

#finalRating {
  display: inline-flex;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }

  to {
    font-size: 10em;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* Cards */

.card {
  position: relative;
  height: 165px;
  width: 135px;
  padding: 5px;
  cursor: pointer;
  transform-style: preserve-3d;
}

.card.matched .card-value {
  animation: grow 1.5s linear infinite 300ms;
}

@keyframes grow {
  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition: transform 280ms ease-in-out;
}

.card-value {
  position: absolute;
  transform: scale(0.9);
  transition: transform 175ms ease-in-out;
}

/* Card Backs */

.card-back {
  background-image: radial-gradient(circle, #ffae00, #141414);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.faceDownPanther {
  position: absolute;
  width: 125px;
  left: 3px;
  transition: width 175ms ease-in-out, height 175ms ease-in-out;
}

.card-back:hover .faceDownPanther {
  width: 135px;
}

.rose {
  position: absolute;
  width: 50px;
  transition: width 175ms ease-in-out, height 175ms ease-in-out;
}

.card-back:hover .rose {
  width: 40px;
}

.rose-top-left {
  transform: rotate(150deg);
  top: -6px;
  left: -1px;
}

.rose-bottom-right {
  bottom: -6px;
  right: -1px;
  transform: rotate(330deg);
}

/* Card Fronts */

.card-front {
  transform: rotateY(180deg);
  background-image: radial-gradient(circle, #818181, #141414);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.card-front:hover .card-value {
  transform: scale(1);
}

.key {
  position: absolute;
  width: 60px;
  height: 80px;
  transition: width 175ms ease-in-out, height 175ms ease-in-out;
}

.card-front:hover .key {
  width: 55px;
  height: 75px;
}

.key-left {
  left: -18px;
}

.key-right {
  right: -18px;
  transform: rotate(180deg);
}

.nativeAmerican {
  width: 120px;
  top: 18px;
  left: 18px;
}

.diamond,
.wolf {
  width: 110px;
}

.eagle,
.guns,
.skull {
  width: 110px;
  top: 25px;
}

.skullSnake {
  width: 140px;
}

.ruby {
  width: 105px;
  top: 25px;
}

/* Media Queries */

@media (max-width: 650px) {
  .game-score-panel {
    width: 350px;
  }

  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .page-title {
    font-size: 3em;
  }

  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }

    to {
      font-size: 7em;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
