
@font-face {
  font-family: 'TattooShop';
  src: url('TattooShop.eot?#iefix') format('embedded-opentype'),  url('TattooShop.otf')  format('opentype'),
	     url('TattooShop.woff') format('woff'), url('TattooShop.ttf')  format('truetype'), url('TattooShop.svg#TattooShop') format('svg');
  font-weight: normal;
  font-style: normal;
}
